.buy-ticket {
  padding: 155px 0px 230px 0px;
  background-color: var(--dark-purple);
  @include laptop {
    padding: 120px 0px 170px 0px;
  }
  @include tablet {
    padding: 100px 0px 110px 0px;
  }
  &__title {
    margin: 0;
    text-align: center;
    color: var(--gray-1);
    @include mobile {
      font-size: 24px;
      line-height: 120%;
    }
  }
  &__content {
    font-size: 36px;
    line-height: 130%;
    color: var(--gray-1);
    text-align: center;
    margin: 0px 0px 70px 0px;
    span {
      color: var(--peach-4);
    }
    @include desktop {
      font-size: 32px;
    }
    @include laptop {
      font-size: 26px;
    }
    @include tablet {
      font-size: 20px;
      margin-bottom: 55px;
    }
    @include mobile {
      font-size: 14px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include laptop-min {
      flex-direction: column;
      row-gap: 115px;
    }
  }
  &__item {
    position: relative;
    flex: 0 1 calc(50% - 12px);
    padding: 80px 50px 65px 50px;
    border-radius: 10px;
    border: 1px solid var(--blue-1);
    z-index: 1;
    &--vip {
      .buy-ticket__item-title,
      .buy-ticket__price-subtitle,
      .buy-ticket__price-content,
      .buy-ticket__spoller-icon {
        color: var(--peach-4);
      }
    }
    @include laptop {
      padding: 80px 30px 30px 30px;
    }
    @include laptop-min {
      flex: 1;
      width: 100%;
    }
    @include mobile {
      padding: 80px 0px 0px 0px;
      border-radius: 0;
      border: none;
    }
  }
  &__item-icon {
    position: absolute;
    width: 175px;
    height: auto;
    top: 20px;
    right: 85px;
    z-index: -1;
    @include laptop {
      width: 140px;
      right: 40px;
    }
    @include mobile {
      width: 115px;
      top: 0;
      right: 10px;
    }
  }
  &__item-title {
    font-weight: 600;
    font-size: 80px;
    line-height: 120%;
    color: var(--blue-2);
    margin: 0px 0px 24px 0px;
    @include desktop {
      font-size: 60px;
    }
    @include laptop {
      font-size: 54px;
    }
    @include laptop-min {
      font-size: 48px;
    }
    @include mobile {
      margin-bottom: 16px;
      font-size: 40px;
      br {
        display: none;
      }
    }
  }
  &__price-subtitle {
    font-size: 16px;
    line-height: 120%;
    color: var(--blue-1);
    @include mobile {
      font-size: 14px;
    }
  }
  &__price-content {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: var(--blue-1);
    margin: 0px 0px 25px 0px;
    @include laptop {
      font-size: 28px;
    }
    @include laptop-min {
      font-size: 22px;
    }
    @include tablet {
      font-size: 18px;
    }
  }
  &__spollers {
    margin-bottom: 40px;
    color: var(--gray-1);
    @include tablet {
      margin-bottom: 25px;
    }
  }
  &__spoller-btn {
    display: flex;
    align-items: center;
    column-gap: 7px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    &._spoller-active {
      svg {
        transform: rotate(45deg);
      }
    }
  }
  &__spoller-icon {
    width: 12px;
    height: 12px;
    color: var(--blue-1);
    transition: transform 0.2s ease;
  }
  &__spoller-list {
    padding-top: 30px;
    max-width: 360px;
    @include laptop {
      padding-top: 15px;
    }
  }
  &__spoller-list-item {
    position: relative;
    font-weight: 200;
    padding-left: 30px;
    font-size: 18px;
    line-height: 120%;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 4px;
      height: 4px;
      background-color: var(--gray-1);
      border-radius: 50%;
      left: 13px;
      top: 10px;
    }
  }
  &__item-form {
    color: var(--gray-1);
  }
  &__item-btn {
    margin-top: 24px;
    width: 100%;
    @include mobile {
      margin-top: 20px;
    }
  }
  &__modal-window {
    max-width: 870px;
    @include laptop-min {
      max-width: calc(100vw - 120px);
    }
    @include mobile {
      max-width: calc(100vw - 20px);
    }
  }
  &__modal-icon {
    display: block;
    width: 150px;
    margin: 0px auto 20px auto;
    @include tablet {
      width: 95px;
      margin-bottom: 8px;
    }
  }
  &__modal-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--blue-2);
    margin: 0px 0px 18px 0px;
    @include laptop-min {
      font-size: 32px;
    }
    @include tablet {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }
  &__modal-content {
    max-width: 470px;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    margin: 0px auto 35px auto;
    @include laptop-min {
      font-size: 18px;
    }
    @include tablet {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  &__modal-btn {
    position: relative;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 40px;
    @include laptop-min {
      font-size: 18px;
    }
    @include tablet {
      font-size: 16px;
    }
  }
  &__modal-bottom-content {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: var(--peach-3);
    text-align: center;
    margin: 0px 0px 30px 0px;
    @media (max-width: 419px) {
      padding: 0 30px;
    }
  }
  &__modal-socials {
    justify-content: center;
  }
}
