.letter {
  position: relative;
  padding: 85px 0px 70px 0px;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    width: 200px;
    background-color: var(--blue-2);
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
  }
  &::after {
    position: absolute;
    content: "";
    width: 242px;
    height: 184px;
    background: url("../img/icons/factory.png") 0 0 / cover no-repeat;
    top: 0;
    right: 0;
    z-index: -1;
  }
  @include mobile {
    &::after {
      width: 179px;
      height: 131px;
    }
  }
  @media (max-width: 419px) {
    &::before {
      width: 150px;
    }
  }
  &__body {
    max-width: 560px;
    margin: 0 auto;
    padding: 45px 40px 55px 40px;
    background-color: var(--gray-1);
    @include mobile {
      padding: 30px 20px;
    }
  }
  &__title {
    font-size: 20px;
    line-height: 26px;
    margin: 0px 0px 17px 0px;
  }
  &__content {
    font-size: 15px;
    line-height: 21px;
    margin: 0px 0px 18px 0px;
  }
  &__subtitle {
    font-size: 15px;
    line-height: 27px;
    color: var(--green-3);
    text-transform: uppercase;
    margin: 0px 0px 16px 0px;
  }
  &__subcontent {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 20px 0px;
    span {
      font-style: italic;
    }
  }
  &__offer-content {
    max-width: 340px;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    margin: 0px 0px 23px 0px;
  }
  &__btn-calendar {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 419px) {
      width: 100%;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
  }
  &__footer-content {
    margin: 0;
    max-width: 315px;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
  }
  &__socials-btn {
    width: 50px;
    height: 50px;
    color: var(--dark-purple);
    border-color: var(--dark-purple);
    @include hover {
      background-color: var(--dark-purple);
      color: var(--gray-1);
    }
    .socials__icon {
      width: 23px;
      height: 23px;
    }
  }
  &__attention {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--peach-3);
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: var(--gray-1);
    margin: 30px 0px 7px 0px;
  }
  &__attention-content {
    max-width: 450px;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 30px 0px;
  }
  &__btn-chat {
    display: inline-block;
    padding: 8px 35px;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    @media (max-width: 419px) {
      padding: 8px;
      width: 100%;
    }
  }
}
