:root {
  --dark-purple: #302654;
  --dark: #000337;

  --gray-1: #F5F5F5;
  --gray-2: #EFEFEF;
  --gray-3: #E1E1E1;

  --peach-1: #F7C9BF;
  --peach-2: #FAA891;
  --peach-3: #F05469;
  --peach-4: #D43038;

  --green-1: #B8DECF;
  --green-2: #7AC9B5;
  --green-3: #087D8F;

  --blue-1: #548CCF;
  --blue-2: #0073B9;
  --blue-3: #1A4A7D;
}