<section class="about-festival" id="about">
  <div class="container">
    <div class="about-festival__info">
      <h2 class="title-2 about-festival__title">О фестивале</h2>
      <p class="about-festival__content">
        Gastro Industry Fest — это соединение суровых развлечений, гастрономических открытий,
        северного колорита и спорта. <br />
        <br />
        Фестиваль ежегодно собирает больше двух тысяч посетителей, место проведения — Никель,
        колоритный город за полярным кругом. <br />
        <br />
        Мы готовим крутую программу с индустриальными шоу, технологическими мастер-классами,
        гастрономическими шоу, арт-объектами, музыкой и танцами <br />
        <br />
        В этом году фестиваль станет бесплатный, чтобы ещё больше жителей и гостей города смогло
        погрузиться в калейдоскоп Севера.
      </p>
    </div>
  </div>
  <img src="@img/pictures/festival.jpg" alt="Фестиваль" class="about-festival__img" />
</section>
