<section class="buy-ticket">
  <div class="container">
    <h1 class="title-2 buy-ticket__title">
      Вы у финиша! Чтобы зарегистрироваться, ответьте на несколько вопросов.
    </h1>
    <p class="buy-ticket__content"><span>*</span> обязательны ответы</p>
    <div class="buy-ticket__wrapper">
      <div class="buy-ticket__item">
        <img src="@img/pictures/tickets-1.png" alt="Билет" class="buy-ticket__item-icon" />
        <h3 class="buy-ticket__item-title">Стандартный билет</h3>
        <span class="buy-ticket__price-subtitle">Цена</span>
        <p class="buy-ticket__price-content">0 руб. (регистрация обязательна)</p>
        <form action="#" class="form buy-ticket__item-form">
          <div class="form__parent-number">
            <button type="button" class="btn form__number-btn form__number-btn--minus">
              <span></span>
            </button>
            <input type="number" name="number" value="1" class="form__input form__input--number" />
            <button type="button" class="btn form__number-btn form__number-btn--plus">
              <span></span>
              <span></span>
            </button>
          </div>
          <div class="form__item">
            <label for="family-name" class="form__label">Фамилия и Имя*</label>
            <input type="text" name="family-name" id="family-name" class="form__input" />
          </div>
          <div class="form__item">
            <label for="tel" class="form__label">Номер телефона*</label>
            <input type="tel" name="tel" id="tel" class="form__input" />
          </div>
          <div class="form__item">
            <label for="email" class="form__label">Ваша почта*</label>
            <input type="email" name="email" id="email" class="form__input" />
          </div>
          <div class="form__item">
            <label for="city" class="form__label">Из какого вы города?*</label>
            <input type="text" name="city" id="city" class="form__input" />
          </div>
          <div class="form__transfer">
            <p class="form__transfer-content">Может ли вам понадобиться трансфер?</p>
            <div class="form__transfer-wrapper">
              <input
                type="radio"
                name="transfer"
                value="transfer-yes"
                id="transfer-yes"
                checked
                class="form__transfer-radio"
              />
              <label for="transfer-yes" class="form__transfer-btn">Да</label>
              <input
                type="radio"
                name="transfer"
                value="transfer-no"
                id="transfer-no"
                class="form__transfer-radio"
              />
              <label for="transfer-no" class="form__transfer-btn">Нет</label>
            </div>
          </div>
          <input type="checkbox" id="politic-standart" class="form__input-check" />
          <label for="politic-standart" class="form__label-check"
            >Я ознакомился с <a href="#" target="_blank">политикой конфиденциальности</a> и даю
            согласие на обработку персональных данных</label
          >
          <button type="submit" class="btn btn-fill btn-blue buy-ticket__item-btn">
            Зарегестрироваться
          </button>
        </form>
      </div>
      <div class="buy-ticket__item buy-ticket__item--vip">
        <img src="@img/pictures/tickets-2.png" alt="Билет" class="buy-ticket__item-icon" />
        <h3 class="buy-ticket__item-title">
          VIP- <br />
          Билет
        </h3>
        <span class="buy-ticket__price-subtitle">Цена</span>
        <p class="buy-ticket__price-content">0 руб. (регистрация обязательна)</p>
        <form action="#" class="form buy-ticket__item-form">
          <div class="form__parent-number">
            <button type="button" class="btn form__number-btn form__number-btn--minus">
              <span></span>
            </button>
            <input type="number" name="number" value="1" class="form__input form__input--number" />
            <button type="button" class="btn form__number-btn form__number-btn--plus">
              <span></span>
              <span></span>
            </button>
          </div>
          <div class="form__item">
            <label for="family-name" class="form__label">Фамилия и Имя*</label>
            <input type="text" name="family-name" id="family-name" class="form__input" />
          </div>
          <div class="form__item">
            <label for="tel" class="form__label">Номер телефона*</label>
            <input type="tel" name="tel" id="tel" class="form__input" />
          </div>
          <div class="form__item">
            <label for="email" class="form__label">Ваша почта*</label>
            <input type="email" name="email" id="email" class="form__input" />
          </div>
          <div class="form__item">
            <label for="city" class="form__label">Из какого вы города?*</label>
            <input type="text" name="city" id="city" class="form__input" />
          </div>
          <div class="form__transfer">
            <p class="form__transfer-content">Может ли вам понадобиться трансфер?</p>
            <div class="form__transfer-wrapper">
              <input
                type="radio"
                name="transfer"
                value="transfer-yes"
                id="transfer-yes"
                checked
                class="form__transfer-radio"
              />
              <label for="transfer-yes" class="form__transfer-btn">Да</label>
              <input
                type="radio"
                name="transfer"
                value="transfer-no"
                id="transfer-no"
                class="form__transfer-radio"
              />
              <label for="transfer-no" class="form__transfer-btn">Нет</label>
            </div>
          </div>
          <input type="checkbox" id="politic-vip" class="form__input-check" />
          <label for="politic-vip" class="form__label-check"
            >Я ознакомился с <a href="#" target="_blank">политикой конфиденциальности</a> и даю
            согласие на обработку персональных данных</label
          >
          <button type="submit" class="btn btn-fill btn-peach buy-ticket__item-btn">
            Зарегестрироваться
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- открывается по классу "open" -->
  <div class="modal">
    <div class="modal__overlay">
      <div class="modal__window buy-ticket__modal-window">
        <img src="@img/icons/mail.png" alt="Почта" class="buy-ticket__modal-icon">
        <button class="btn modal__close">
          <svg class="modal__close-icon">
            <use xlink:href='img/icons/icons.svg#icon-close'></use>
          </svg>
        </button>
        <h3 class="buy-ticket__modal-title">
          Ура! Вы успешно зарегистрировались на Gastro Industry Fest и готовы покорять Север! Будем
          ждать вас 27 августа на Площади металлургов.
        </h3>
        <p class="buy-ticket__modal-content">
          Вам уже пришло подтверждение на почту: сохраните его, чтобы показать на входе.
        </p>
        <button class="btn btn-fill btn-red buy-ticket__modal-btn">
          Занесите мероприятие в календарь и подпишитесь на чат-бота!
        </button>
        <p class="buy-ticket__modal-bottom-content">Присоединяйтесь к нам в соцсетях</p>
        <ul class="list socials socials--peach buy-ticket__modal-socials">
          <li>
            <a href="#" class="socials__btn">
              <svg class="socials__icon">
                <use xlink:href="img/icons/icons.svg#icon-vk"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="socials__btn">
              <svg class="socials__icon">
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
