<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img src="@img/logos/logo.png" alt="" class="header__logo-img" />
    </a>
    <a href="#" data-da=".header__nav, 992, 2" class="btn-stroke header__btn">Забрать билет</a>
    <div data-da=".header__nav, 992, 0" class="header__switch" id="partners-nav">
      <a href="partners.html" class="header__switch-link header__switch-link--partners">
        Партнёрам
      </a>
      <button class="btn header__switch-btn"></button>
      <a href="partners.html" class="header__switch-link header__switch-link--users active"
      >Посетителям
      </a>
    </div>
    <nav class="header__nav" id="burger-menu">
      <ul class="list header__nav-list">
        <li>
          <a href="#about">О фестивале</a>
        </li>
        <li>
          <a href="#program">Программа</a>
        </li>
        <li>
          <a href="#contacts">Контакты</a>
        </li>
      </ul>
    </nav>
    <button class="btn header__burger-btn" id="burger-btn">
      <span class="header__burger-btn-line"></span>
      <span class="header__burger-btn-line"></span>
      <span class="header__burger-btn-line"></span>
    </button>
  </div>
</header>
