<section class="hero hero--partners">
  <div class="container">
    <img src="@img/pictures/hero.png" class="hero__bg hero__bg--partners">
    <h1 class="hero__title hero__title--partners">GASTRO INDUSTRY FESTIVAL</h1>
    <h2 class="hero__subtitle">27 августа 2023</h2>
    <p class="hero__location">
      <svg class="hero__location-icon">
        <use xlink:href="img/icons/icons.svg#icon-location"></use>
      </svg>
      Никель
    </p>
    <div class="hero__nav-wrapper hero__nav-wrapper--partners">
      <a href="#" class="btn-white hero__btn hero__btn--min">Аккредитация</a>
      <a href="#" class="btn-white hero__btn hero__btn--min">Стать партнёром</a>
      <a href="#" class="btn-white hero__btn hero__btn--min">Стать волонтёром</a>
    </div>
  </div>
</section>
