<section class="hero">
  <div class="container">
    <img src="@img/pictures/hero.png" class="hero__bg">
    <h1 class="hero__title">GASTRO INDUSTRY FESTIVAL</h1>
    <h2 class="hero__subtitle">27 августа 2023</h2>
    <p class="hero__location">
      <svg class="hero__location-icon">
        <use xlink:href="img/icons/icons.svg#icon-location"></use>
      </svg>
      Никель
    </p>
    <div class="hero__nav-wrapper">
      <a href="#" class="btn-white hero__btn">Забрать билет</a>
      <ul class="list hero__social">
        <li>
          <a href="#" class="hero__social-btn">
            <svg class="hero__social-icon">
              <use xlink:href="img/icons/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="hero__social-btn">
            <svg class="hero__social-icon">
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="hero__subcontent">Вход бесплатный, регистрация — обязательна.</p>
  </div>
</section>
