<section class="letter">
  <div class="container">
    <div class="letter__body">
      <h1 class="letter__title">Вы успешно оплатили VIP-билет</h1>
      <p class="letter__content">
        Ура! Теперь у вас есть доступ ко всем площадкам фестиваля, мастер-классам и активностям.
        Готовьтесь увидеть индустриальное шоу, попробовать северную кухню и получить уникальный
        опыт.  <br />
        <br />
        Для вас мы подготовили VIP-зону рядом со сценой, авторский индустриальный мастер-класс
        только для держателей VIP-билетов, арктический гастро-сет и брендированную кружку с
        согревающим напитком.
      </p>
      <h2 class="letter__subtitle">Увидимся 27 августа!</h2>
      <p class="letter__subcontent">
        Во вложении этого письма ваш билет — сохраните его и покажите на входе.
        <span>Печатать не обязательно</span> (достаточно электронной версии).
      </p>
      <p class="letter__offer-content">
        Добавьте фестиваль в календарь — так вы точно не пропустите яркое событие вашего лета!
      </p>
      <a href="#" class="btn-fill btn-peach letter__btn-calendar">Добавить в календарь</a>
      <div class="letter__footer">
        <p class="letter__footer-content">
          Подписывайтесь на наши социальные сети. Там вы получите свежую информацию о хедлайнере,
          индустриальной и гастрономической программе.
        </p>
        <ul class="list socials">
          <li>
            <a href="#" class="socials__btn letter__socials-btn">
              <svg class="socials__icon">
                <use xlink:href="img/icons/icons.svg#icon-vk"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="socials__btn letter__socials-btn">
              <svg class="socials__icon">
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <span class="letter__attention"> ОБРАЩАЕМ ВНИМАНИЕ </span>
      <p class="letter__attention-content">
        Только для держателей VIP-билетов создан отдельный чат-бот, где будет организационная
        информация. Туда будет дублироваться контент из основного чат-бота, поэтому рекомендуем
        подписаться только на этот чат-бот.
      </p>
      <a href="#" class="btn-fill btn-green-light letter__btn-chat">Подписаться на VIP чат-бот</a>
    </div>
  </div>
</section>
