<section class="mass-media">
  <div class="container _big">
    <h2 class="title-2 mass-media__title">СМИ о нас</h2>
    <div class="mass-media__slider-nav">
      <button class="btn mass-media__slider-btn mass-media__slider-btn--prev">
        <svg class="mass-media__slider-btn-icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
        </svg>
      </button>
      <button class="btn mass-media__slider-btn mass-media__slider-btn--next">
        <svg class="mass-media__slider-btn-icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
        </svg>
      </button>
    </div>
    <div class="swiper mass-media__slider">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide mass-media__slide">
          <img src="@img/pictures/mass-media.jpg" alt="Изображение" class="mass-media__slide-img" />
          <span class="mass-media__slide-tag">#Вокруг севера</span>
          <h5 class="mass-media__slide-title">Самый северный фестиваль</h5>
          <p class="mass-media__slide-content">
            Gastro Industry Fest проводится в городе Никель на Кольском полуострове в Мурманской
            области wfewfe wewfew fewf ewfe wfewf wefewfewf fwefewf wefwef
          </p>
        </a>
        <a href="#" class="swiper-slide mass-media__slide">
          <img src="@img/pictures/mass-media.jpg" alt="Изображение" class="mass-media__slide-img" />
          <span class="mass-media__slide-tag">#Вокруг севера</span>
          <h5 class="mass-media__slide-title">Самый северный фестиваль</h5>
          <p class="mass-media__slide-content">
            Gastro Industry Fest проводится в городе Никель на Кольском полуострове в Мурманской
            области wfewfe wewfew fewf ewfe wfewf wefewfewf fwefewf wefwef
          </p>
        </a>
        <a href="#" class="swiper-slide mass-media__slide">
          <img src="@img/pictures/mass-media.jpg" alt="Изображение" class="mass-media__slide-img" />
          <span class="mass-media__slide-tag">#Вокруг севера</span>
          <h5 class="mass-media__slide-title">Самый северный фестиваль</h5>
          <p class="mass-media__slide-content">
            Gastro Industry Fest проводится в городе Никель на Кольском полуострове в Мурманской
            области wfewfe wewfew fewf ewfe wfewf wefewfewf fwefewf wefwef
          </p>
        </a>
        <a href="#" class="swiper-slide mass-media__slide">
          <img src="@img/pictures/mass-media.jpg" alt="Изображение" class="mass-media__slide-img" />
          <span class="mass-media__slide-tag">#Вокруг севера</span>
          <h5 class="mass-media__slide-title">Самый северный фестиваль</h5>
          <p class="mass-media__slide-content">
            Gastro Industry Fest проводится в городе Никель на Кольском полуострове в Мурманской
            области wfewfe wewfew fewf ewfe wfewf wefewfewf fwefewf wefwef
          </p>
        </a>
        <a href="#" class="swiper-slide mass-media__slide">
          <img src="@img/pictures/mass-media.jpg" alt="Изображение" class="mass-media__slide-img" />
          <span class="mass-media__slide-tag">#Вокруг севера</span>
          <h5 class="mass-media__slide-title">Самый северный фестиваль</h5>
          <p class="mass-media__slide-content">
            Gastro Industry Fest проводится в городе Никель на Кольском полуострове в Мурманской
            области wfewfe wewfew fewf ewfe wfewf wefewfewf fwefewf wefwef
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
