<section class="offer green">
  <div class="container">
    <div class="offer__info">
      <span class="offer__subtitle">зона</span>
      <h2 class="offer__title">Fest</h2>
      <ul class="list">
        <li class="offer__list-item">Спортивные активности</li>
        <li class="offer__list-item">Фаер-шоу</li>
        <li class="offer__list-item">Дополненная реальность</li>
        <li class="offer__list-item">Танцы</li>
        <li class="offer__list-item">Концерт музыкальных коллективов и хедлайнера</li>
      </ul>
    </div>
  </div>
  <div class="offer__slider-wrapper offer__slider-wrapper--right">
    <div class="swiper offer__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="@img/pictures/offer.jpg" alt="Изображение" class="offer__slider-img" />
        </div>
        <div class="swiper-slide">
          <img src="@img/pictures/offer.jpg" alt="Изображение" class="offer__slider-img" />
        </div>
        <div class="swiper-slide">
          <img src="@img/pictures/offer.jpg" alt="Изображение" class="offer__slider-img" />
        </div>
      </div>
      <button class="btn offer__slider-btn offer__slider-btn--prev">
        <svg class="offer__slider-btn-icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
      <button class="btn offer__slider-btn offer__slider-btn--next">
        <svg class="offer__slider-btn-icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
    </div>
  </div>
</section>
