<section class="offer blue">
  <div class="container">
    <div class="offer__info offer__info--right">
      <span class="offer__subtitle">зона</span>
      <h2 class="offer__title">INDUSTRY</h2>
      <ul class="list">
        <li class="offer__list-item">Шоу индустриальной техники</li>
        <li class="offer__list-item">Зрелищные выступления мастеров по сварке и ковке</li>
        <li class="offer__list-item">Ярмарка мастеров</li>
        <li class="offer__list-item">Технологические воркшопы</li>
        <li class="offer__list-item">Стимпанк-шоу ходулистов</li>
      </ul>
    </div>
  </div>
  <div class="offer__slider-wrapper offer__slider-wrapper--left">
    <div class="swiper offer__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="@img/pictures/offer.jpg" alt="Изображение" class="offer__slider-img" />
        </div>
        <div class="swiper-slide">
          <img src="@img/pictures/offer.jpg" alt="Изображение" class="offer__slider-img" />
        </div>
        <div class="swiper-slide">
          <img src="@img/pictures/offer.jpg" alt="Изображение" class="offer__slider-img" />
        </div>
      </div>
      <button class="btn offer__slider-btn offer__slider-btn--prev">
        <svg class="offer__slider-btn-icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
      <button class="btn offer__slider-btn offer__slider-btn--next">
        <svg class="offer__slider-btn-icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
    </div>
  </div>
</section>
