<section class="program" id="program">
  <div class="container">
    <h2 class="title-2 program__title">Программа</h2>
    <p class="program__content">Фестиваль — это три кластера активностей</p>
    <div class="program__wrapper">
      <div class="program__item">
        <span class="program__item-subtitle">зона</span>
        <h4 class="program__item-title">Gastro</h4>
        <ul class="list">
          <li class="program__list-item">кулинарные мастер-классы</li>
          <li class="program__list-item">фудкорт</li>
          <li class="program__list-item">дегустации</li>
        </ul>
      </div>
      <div class="program__item">
        <span class="program__item-subtitle">зона</span>
        <h4 class="program__item-title">INDUSTRY</h4>
        <ul class="list">
          <li class="program__list-item">техно-аттракционы</li>
          <li class="program__list-item">ярмарка мастеров</li>
        </ul>
      </div>
      <div class="program__item">
        <span class="program__item-subtitle">зона</span>
        <h4 class="program__item-title">FEST</h4>
        <ul class="list">
          <li class="program__list-item">шоу дронов</li>
          <li class="program__list-item">спортивные активности</li>
          <li class="program__list-item">лекторий</li>
        </ul>
      </div>
    </div>
  </div>
</section>
