<section class="road">
  <div class="container">
    <h2 class="title-2 road__title">Как добраться</h2>
    <div class="road__buttons">
      <button data-tab="foot" class="btn btn-tab road__btn active">Пешком</button>
      <button data-tab="car" class="btn btn-tab road__btn">На автомобиле</button>
      <button data-tab="plane" class="btn btn-tab road__btn">На самолёте</button>
    </div>
    <div class="road__wrapper">
      <div data-tab="foot" class="tab road__info active">
        <p class="road__content">
          Если вы живёте в Никеле, то до места проведения фестиваля сможете дойти пешком. <br> <br> Время в
          пути <span>от 20 до 30 минут</span>.
        </p>
      </div>
      <div data-tab="car" class="tab road__info">
        <p class="road__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti laboriosam neque eos nulla hic expedita, autem laborum tenetur quia quam placeat ducimus officia labore. <br> <br> <span>Nemo rem ex</span> nihil nostrum?
        </p>
      </div>
      <div data-tab="plane" class="tab road__info">
        <p class="road__content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste <span>perspiciatis sequi quae vel</span> dolor similique a. Temporibus, sunt velit fugiat eos, officiis cum a quo, repellendus praesentium aut incidunt necessitatibus.
        </p>
      </div>
      <div data-center="[54.62905428141407,39.700145500000026]" data-zoom="16" class="road__map" id="road-map"></div>
    </div>
  </div>
</section>
