<section class="search-partners">
  <div class="container">
    <h2 class="title-2 search-partners__title">Мы ищем партнёров</h2>
    <ul class="list search-partners__list">
      <li class="search-partners__list-item">
        <svg class="search-partners__list-icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow-decor"></use>
        </svg>
        <span>В сфере HoReCa</span>
      </li>
      <li class="search-partners__list-item">
        <svg class="search-partners__list-icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow-decor"></use>
        </svg>
        <span>В сфере развлечений и event-ов</span>
      </li>
    </ul>
    <p class="search-partners__content">
      Если вы хотите сотрудничать с нами, то подайте заявку, мы с вами свяжемся
    </p>
    <a href="#" class="btn btn-fill btn-green search-partners__btn">Стать партнёром</a>
  </div>
  <img src="@img/pictures/partners.jpg" alt="Изображение" class="search-partners__img" />
</section>
