<section class="sport">
  <div class="sport__top">
    <div class="container">
      <div class="sport__info">
        <h2 class="title-2 sport__title">Спорт</h2>
        <p class="sport__content">
          В этом году в Gastro Industry Fest станет еще больше движения! <br />
          <br />
          У вас и ваших детей будет возможность получить
          <span>мастер-класс от профессиональных известных  футболистов!</span>
        </p>
      </div>
    </div>
    <img src="@img/pictures/sport.jpg" alt="Спорт" class="sport__img" />
  </div>
  <div class="sport__bottom">
    <div class="container sport__bottom-container">
      <p class="sport__bottom-content">
        Попробуйте все активности фестиваля прямо сейчас – покорите Север! Победителю достанется
        мерч фестиваля.
      </p>
      <a href="#" class="btn-fill btn-red sport__bottom-btn">Сыграть</a>
    </div>
  </div>
</section>
