<section class="subscription">
  <div class="container _big">
    <div class="subscription__info">
      <h2 class="subscription__title">Подписывайтесь на нас в социальных сетях</h2>
      <p class="subscription__content">Там новости, конкурсы и полезные посты для любителей Севера</p>
      <ul class="list subscription__social">
        <li>
          <a href="#" class="subscription__social-btn">
            <svg class="subscription__social-icon">
              <use xlink:href="img/icons/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="subscription__social-btn">
            <svg class="subscription__social-icon">
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <img src="@img/pictures/subscription.jpg" alt="Изображение" class="subscription__img">
</section>
