<section class="tickets">
  <div class="container">
    <h2 class="title-2 tickets__title">Билеты</h2>
    <p class="tickets__content">
      В этом году фестиваль пройдет  бесплатно, но регистрация обязательна. Это поможет нам
      контролировать загруженность площадки.
      <br />
      <br />
      <span>Для всех зарегистрированных будет розыгрыш мерча фестиваля</span>
    </p>
    <div class="tickets__wrapper">
      <div class="tickets__item">
        <img src="@img/pictures/tickets-1.png" alt="Билет" class="tickets__item-icon" />
        <div class="tickets__item-info">
          <h3 class="tickets__item-title">Стандартный билет</h3>
          <ul class="list tickets__list">
            <li class="tickets__list-item">вход на площадку фестиваля</li>
            <li class="tickets__list-item">доступ ко всем элементам программы фестиваля</li>
            <li class="tickets__list-item">
              участие в мастер-классах и активностях через общую очередь
            </li>
            <li class="tickets__list-item">доступ к концертной площадке, кроме VIP-зоны</li>
            <li class="tickets__list-item">белый силиконовый браслет участника</li>
          </ul>
          <span class="tickets__price-subtitle">Цена</span>
          <p class="tickets__price-content">0 руб. <span>(регистрация обязательна)</span></p>
        </div>
        <a href="buy-ticket.html" class="btn-fill btn-blue tickets__item-btn">Забрать билет</a>
      </div>
      <div class="tickets__item tickets__item--vip">
        <img src="@img/pictures/tickets-2.png" alt="Билет" class="tickets__item-icon" />
        <div class="tickets__item-info">
          <h3 class="tickets__item-title">VIP-Билет</h3>
          <ul class="list tickets__list">
            <li class="tickets__list-item">Скоро подробности</li>
          </ul>
        </div>
        <a href="buy-ticket.html" class="btn-fill btn-peach tickets__item-btn">Забрать билет</a>
      </div>
    </div>
  </div>
</section>
