<section class="ticket-success">
  <div class="container">
    <h1 class="title-2 ticket-success__title">Gastro Industry Fest состоится 27 августа</h1>
    <p class="ticket-success__content">
      Вам уже пришло подтверждение на почту: сохраните его, чтобы показать на входе.
    </p>
    <p class="ticket-success__offer-content">
      Хотите точно вспомнить про фестиваль? Добавьте напоминание в календарь и подпишитесь на наш
      чат-бот: в день мероприятия он будет каждый час напоминать обо всех активностях фестиваля.
    </p>
    <div class="ticket-success__buttons">
      <a href="#" class="btn-fill btn-red ticket-success__btn">Добавить в календарь</a>
      <a href="#" class="btn-fill btn-red ticket-success__btn">Вступить в чат-бот</a>
    </div>
    <ul class="list ticket-success__socials">
      <li class="ticket-success__socials-item">
        <a href="mailto:fwe@mail.ru" class="ticket-success__socials-btn"> <span>@</span> mail.ru </a>
      </li>
      <li class="ticket-success__socials-item">
        <a href="mailto:fwe@gmail.com" class="ticket-success__socials-btn">
          <img src="@img/icons/gmail.png" alt="Gmail" class="ticket-success__socials-icon" />
          google
        </a>
      </li>
      <li class="ticket-success__socials-item">
        <a href="mailto:fwe@mail.ru" class="ticket-success__socials-btn">
          <img src="@img/icons/yandex.png" alt="Yandex" class="ticket-success__socials-icon ticket-success__socials-icon--yandex" />
          yandex</a
        >
      </li>
    </ul>
  </div>
</section>
