<section class="video-fest">
  <div class="container">
    <h2 class="title-2 video-fest__title">Gastro Industry Fest 2022</h2>
  </div>
  <div class="video-fest__parent-player">
    <div class="video-player video-fest__player">
      <video
        src="./files/fest.mp4"
        poster="@img/pictures/poster.jpg"
        class="video-player__video"
      ></video>
      <button class="btn video-player__btn">
        <svg class="video-player__icon">
          <use xlink:href="img/icons/icons.svg#icon-play"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
