<section class="volunteer">
  <div class="container">
    <div class="volunteer__info">
      <h2 class="title-2 volunteer__title">Стать волонтёром</h2>
      <p class="volunteer__content">
        Хотите быть частью Gastro Industry Fest? <br />
        Записывайтесь в ряды волонтёров!
      </p>
      <ul class="list volunteer__list">
        <li class="volunteer__list-item">
          <svg class="volunteer__list-icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-decor"></use>
          </svg>
          <span>На поддержку порядка на фестивале</span>
        </li>
        <li class="volunteer__list-item">
          <svg class="volunteer__list-icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-decor"></use>
          </svg>
          <span>Помощь гостям</span>
        </li>
        <li class="volunteer__list-item">
          <svg class="volunteer__list-icon">
            <use xlink:href="img/icons/icons.svg#icon-arrow-decor"></use>
          </svg>
          <span>Помощь в организации активностей</span>
        </li>
      </ul>
      <p class="volunteer__subcontent">Заявки принимаются до 15 августа</p>
      <a href="#" class="btn-fill btn-blue volunteer__btn">Стать волонтёром</a>
    </div>
  </div>
  <img src="@img/pictures/volunteer.jpg" alt="Изображение" class="volunteer__img" />
</section>
