<section class="will-get">
  <div class="will-get__top">
    <div class="container">
      <h2 class="title-2 will-get__title">Что вы получите от фестиваля</h2>
      <div class="will-get__wrapper">
        <div class="will-get__item">
          <img src="@img/icons/petard.png" alt="Хлопушка" class="will-get__item-icon" />
          <h5 class="will-get__item-title">
            Яркие <br />
            эмоции
          </h5>
        </div>
        <div class="will-get__item">
          <img src="@img/icons/skill.png" alt="Хлопушка" class="will-get__item-icon" />
          <h5 class="will-get__item-title">
            Уникальный <br />
            опыт
          </h5>
        </div>
        <div class="will-get__item">
          <img src="@img/icons/tools.png" alt="Хлопушка" class="will-get__item-icon" />
          <h5 class="will-get__item-title">Атмосферу брутальных развлечений</h5>
        </div>
        <div class="will-get__item">
          <img src="@img/icons/mechanism.png" alt="Хлопушка" class="will-get__item-icon" />
          <h5 class="will-get__item-title">Заранее спланированный досуг</h5>
        </div>
        <div class="will-get__item">
          <img src="@img/icons/meal.png" alt="Хлопушка" class="will-get__item-icon" />
          <h5 class="will-get__item-title">
            Новые <br />
            вкусовые сочетания
          </h5>
        </div>
        <div class="will-get__item">
          <img src="@img/icons/animal.png" alt="Хлопушка" class="will-get__item-icon" />
          <h5 class="will-get__item-title">
            Радушие <br />
            Севера
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="will-get__bottom">
    <div class="container">
      <p class="will-get__bottom-content">
        Подписывайтесь на рассылку или Телеграм-канал, чтобы получать свежие новости фестиваля
      </p>
      <ul class="list socials will-get__socials">
        <li>
          <a href="#" class="socials__btn">
            <svg class="socials__icon">
              <use xlink:href="img/icons/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="socials__btn">
            <svg class="socials__icon">
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
